h {
  background-color: #333333;
}

h3 {
  background-color: #333333;
}


.container {
     width auto;
     margin 0; 
}

div.header {
     padding 5px;
     background-color: #333333;
     color:White;
}

div.header h1 {
     margin 5px;
     background-color: #333333;
     color:White;
}
div.header h3 {
     margin 0px; 
     background-color: #333333;
     color: White;
}

header {
  background-color: #333333;
}

div.flex-container {
  display:flex;
  flex-direction: row;
  height: 20px;
  width; 200px;
  align-items: stretch;
 
}

div.flex-container col1 {
  margin-top:-20px;
  background-color: Blue; 
  height:100%;
  width: 25%;
}

div.flex-container col2 {
  margin-top:-20px;
  background-color: Red; 
  width: 50%;
  height:100%;
}



img {
    width: 100%;
    height: auto;
}

img.responsive {
    width: 100%;
    height: auto;
}
