h {
  background-color: #333333;
}

h3 {
  background-color: #333333;
}

.container {
     width auto;
     margin 0; 
}

div.header {
     padding 5px;
     background-color: #333333;
     color:White;
}

div.header h1 {
     margin 5px;
     background-color: #333333;
     color:White;
}
dive.header h3 {
     margin 0px; 
     background-color: #333333;
     color:White;
}

header {
  background-color: #333333;
}
